/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #eeeeee;
  }
  
  .logo {
    display: block;
    margin: 20px auto;
    max-width: 200px;
  }
  
  .tagline {
    text-align: center;
    background-color: #eeeeee;
    padding: 80px 0;
    margin: 0;
    height: 50vh;
  }
  
  .tagline h1 {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  .tagline h3 {
    font-size: 24px;
    margin-bottom: 50px;
    color: #555;
    width: 70%;
    margin: 0 auto; /* Center the h3 element horizontally */
  }

  .tagline button{
    border: none;
    margin-top: 25px;
  }
  
  .tagline a{
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    text-decoration: none;
    background-color: #141e61;
    color: #fff;
    transition: background-color 0.3s;
    border: none;
    border-radius: 4px;
    margin: 10px;
  }

  .tagline a:hover {
    background-color: #0f1652;
  }
  
  /* .login:hover,
  .register:hover {
    background-color: #0f1652;
  }
   */
  .documentation,
  .contact-support {
    background-color: #fff;
    padding: 40px;
    margin: 40px auto;
    max-width: 800px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .documentation h2,
  .contact-support h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .documentation p,
  .contact-support p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .documentation a,
  .contact-support a {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    text-decoration: none;
    background-color: #141e61;
    color: #fff;
    transition: background-color 0.3s;
  }
  
  .documentation a:hover,
  .contact-support a:hover {
    background-color: #0f1652;
  }
  
  footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  footer p {
    margin: 0;
  }

  @media screen and (max-width: 1366px) and (max-height: 625px) {
    .documentation {
      background-color: #fff;
      padding: 40px;
      margin: 70px auto;
      max-width: 800px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  }
  